aiodns
aiohttp
coveralls
django<4.0.0
asgiref<3.5.0
httpx
proxy.py
pytest
pytest-aiohttp
pytest-asyncio
pytest-black
pytest-cov
pytest-django
pytest-mock
pytest-mypy
pytest-sugar
pytest-timeout
uvicorn
